numpy
pandas
matplotlib
plotly
seaborn
pillow
beautifulsoup4
soupsieve
GitPython
gitdb
h11
pip
docutils
Sphinx
Pygments
pytz
PyYAML
typing_extensions
sniffio
babel
smmap
mdurl
charset-normalizer
MarkupSafe
python-dateutil
pandoc
ply
plumbum
tenacity
packaging
Jinja2
colorama
imagesize
requests
urllib3
snowballstemmer
certifi
pypandoc
cycler
click
uvicorn
websockets
watchfiles
six
idna
contourpy
fonttools
pyparsing
starlette
anyio
uc-micro-py
kiwisolver
markdown-it-py
linkify-it-py
mdit-py-plugins
myst-parser
sphinx-autobuild